button {
    border-radius: 25px;
    background-color: rgb(252, 246, 246);
    width: 15%;
    height: 40px;
    transition: 0.5s ease-in-out;
}

#bloc {
    background-color: lightgrey;
    border: 7px;
    border-radius: 25px;
    width: 90%;
    height: 300px;
    margin: auto;
    padding: auto;
}

button:hover {
    background-color: rgb(255, 153, 0);
}

#bloc2 {
    margin: auto;
}

#affichage {
    margin-left: 3%;
    margin-top: 3%;
    min-height: 12%;
    padding-top: 1%;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
}

#span-calcul {
    margin-left: 1%;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

#egal {
    position:fixed;
    left:60%;
}

#div-calcul {
    min-height: 12%;
}

#result {
    position:fixed;
    right: 9%;
}